

.App {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.custom-button {
  background-color: #EFEE17;
  color: #fff;
  font-weight: bolder;
  border-radius: 5px;
}
.normal-button {
  background-color: #E1E3E7;
}

.header {
margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-header h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
.home-header button {
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.working-div {
  margin-top: 20px;
  margin-right: 50px;
}

.liners {
  font-size: 0.8em;
  word-wrap: 'break-word';
  margin-bottom: 20px;
}

.heading {
      font-size: 1.25em;
      font-weight: bolder;
      margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-btn {
  background-color: #E1E3E7;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 0.6em;
  font-weight: bolder;
}

hr {
  opacity: 0.2;
}

.headers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.headers p {
  font-weight: bolder;
  font-size: 0.8em;
}

.flex-prop {
  display: flex;
  align-items: center;
   justify-content: center;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-res{
  margin-top: 2rem;
}

.outfit-opt {
  width: 6rem;
  height: 1.5rem;
  text-align: center;
  background-color: #E1E3E7;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9em;
}

.outfit-opt-1 {
  width: 6rem;
  height: 1.5rem;
  text-align: center;
  background-color: #E1E3E7;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9em;
  background-color: #EFEE17;
  color: #fff;
  font-weight: bold;
} 


.input-1 {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-1:focus {
  outline: none;
  border-color: #EFEE17;
}



/* Styles for placeholders */
::placeholder {
  color: #aaa;
}

/* Styles for autofill background color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media only screen and (max-width: 640px) {
  body {
    font-size: medium !important;
  }
  .home-btn {
    display: flex;
  }
  .home-btn button {
    width: 5rem;
  }
  .home-header h1 {
    float: left;
    font-size: small;
    margin-right: 3rem;
  }
  .header-2 img {
        display: none;
  }
  .header-2 h1 {
    margin-top: 2rem;
  }
  .input-field input {
   width: 90%;
   margin-bottom: 2rem;
  }
  .custom-button {
    margin-right: 1rem;
    width: 7rem !important;
  }
  .headers , .filters{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    font-size: small;
  }
  .headers img {
    width: 5vw;
  }

  .product-search, .filter-section  {
    display: none;
  }

  .search-btn {
    display: none;
  }

  .products {
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   margin: 0 !important;
  }

  .footer p {
         font-size: small;
         width: 15rem;
  }

  .container {
    display: block;
  }

  .footer-input {
    width: 15rem !important;
  }

  .footer-about {
    display: block !important;
    margin-top: 2rem;
  }

  .check-out-btn {
    height: 3rem;
    text-align: center !important;
  }
  .check-out-btn button{
    font-size: smaller;
    width: 10rem !important;
    height: 1rem !important;
    padding-bottom: 2rem !important;
  }
 .outfit-opt button {
    font-size: small;
    width: 5rem !important;
  }

  .formalwear {
    display: inline !important;
  }

  .trending {
    width: 5rem !important;
  }
  .formal-product {
    margin-right: 2rem;
    
  }

  .order, .order-status  {
    margin-left: 1rem !important;
  }

  .order-status {
    width: 30rem !important;
  }

   


}




